<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="StarringJane_MultiSelectSwatch" setup_version="0.1.0">
        <sequence>
            <module name="Magento_Swatches" />
            <module name="Smile_ElasticsuiteSwatches"/>
        </sequence>
    </module>
</config>
